################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WhatToArchive/.vs/WhatToArchive/v15
/WhatToArchive/bin/Debug
/WhatToArchive/obj/Debug
